@font-face {
  font-family: 'Inter';
  src: url(Inter-VariableFont_slnt\,wght.ttf);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  width: 75%;
  margin: auto;
  font-family: 'Inter';
}
.link-text {
  cursor: pointer;
  color: black;
  transition: all 0.15s ease-in-out;
}
.link-text:hover {
  color: hsl(35, 77%, 62%);
}
.link-text-red {
  cursor: pointer;
  color: black;
  transition: all 0.15s ease-in-out;
}
.link-text-red:hover {
  color: hsl(5, 85%, 63%);
}
#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 2rem 0;
  position: relative;
}
#navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#responsive-navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#responsive-navbar-list .navbar-item {
  padding: 1rem 0;
}
.responsive-menu-icon {
  display: none;
  margin-right: 1rem;
}
.responsive-navbar {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  background: white;
  backdrop-filter: blur(20px);
}
.responsive-navbar-menu img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.responsive-navbar-menu ul {
  margin-top: 7rem;
  font-size: 1rem;
}
#home-page {
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
}
#home-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-row: 1 / span 2;
  gap: 1em;
}
#home-splash-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 0.7fr 1fr;
  width: 100%;
  gap: 0;
}
#home-splash-img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  object-fit: cover;
  width: 100%;
}
#home-splash-title {
  grid-column: 1 / 1;
  grid-row: 2 / span 1;
  width: 70%;
  height: 50%;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  font-weight: 800;
}
#home-splash-excerpt {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
#home-splash-excerpt p {
  color: hsl(233, 8%, 79%);
}
#home-splash-excerpt button {
  border: none;
  background: hsl(5, 85%, 63%);
  letter-spacing: 2px;
  width: max-content;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#home-splash-excerpt button:hover {
  background: hsl(240, 100%, 5%);
}
#home-sidebar {
  width: 50%;
  margin: 0;
  margin-bottom: 1rem;
  background-color: hsl(240, 100%, 5%);
  padding: 2rem;
}
#home-sidebar .sidebar-title {
  color: hsl(35, 77%, 62%);
  font-size: 2em;
}
#home-sidebar .sidebar-article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}
#home-sidebar .sidebar-article .sidebar-article-title {
  color: white;
  font-size: 1rem;
}
#home-sidebar .sidebar-article + .sidebar-article {
  border-top: 1px solid grey;
}
#news-article-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1em;
  height: 50%;
}
#news-article-list .news-article-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#news-article-list .news-article-item .news-article-number {
  font-weight: 800;
  color: hsl(233, 8%, 79%);
}
#news-article-list .news-article-item .news-article-excerpt {
  width: 80%;
  font-size: 0.85rem;
  line-height: 1.5;
  padding-top: 0.5em;
}
#news-article-list .news-article-item img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.article-excerpt {
  color: hsl(233, 8%, 79%);
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .brand-logo {
    width: 50px;
    margin-left: 1em;
  }
  #navbar-list {
    display: none;
  }
  .responsive-menu-icon {
    display: inline;
  }
  .wrapper #home-page {
    display: flex;
    flex-direction: column;
  }
  #home-splash-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 0;
  }
  #home-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    grid-row: auto;
  }
  #home-splash-title {
    width: 90%;
    height: 100%;
    font-size: 2.5rem;
    margin: auto;
    font-weight: 700;
  }
  #home-splash-excerpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 1em;
  }
  #home-sidebar {
    width: 80%;
    margin: 1rem auto;
  }
  #news-article-list {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .news-article-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 10px;
    margin: auto;
  }
  .news-article-title {
    font-size: 1rem;
  }
  .news-article-item > img {
    width: 20%;
    object-fit: cover;
  }
  .sidebar-article {
    font-size: 0.8rem;
  }
}
